/* Reset some default styles */
/* Define colors using CSS variables */
:root {
  --background-color: #008080; /* Rich Teal Blue */
  --text-color: #A80000; /* Deep Crimson Red */
  --accent-color: #DAA520; /* Goldenrod Yellow */
  --secondary-background: #FFF4E0; /* Soft Cream */
  --menu-background: #006B6B; /* Deep Teal */
  --menu-text: #FFF4E0; /* Soft Cream on Deep Teal */
  --hover-states: #009494; /* Lighter Teal */
  --border-color: #333333; /* Dark Gray */
  --admin-menu-background: #333333; /* Dark Gray */
}

body,  p {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  color: var(--secondary-background);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-100);
}

.content {
  background-color: var(--secondary-background);
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;

 
  
}

/* Override DaisyUI button styles */


.custom-text {
  font-family: 'Poppins', sans-serif;
}



header {
  background-color: var(--menu-background);
  padding: 10px 0;
}

.logo {
  width: 600px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--menu-text);
  font-weight: bold;
}

/* Hero section styles */
.hero {
  background: linear-gradient(to bottom, var(--background-color), var(--secondary-background));
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-button {
  background: linear-gradient(to bottom, var(--accent-color), var(--text-color));
  color: var(--secondary-background);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

/* Additional sections go here (Genres, Blog, Deals, Rares, Recommendations) */

/* Footer styles */
footer {
  background-color: var(--menu-background);
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.footer-logo {
  text-align: left;
}

.footer-contact {
  text-align: center;
}

.footer-social {
  text-align: right;
}



/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .submenu {
  display: none;
  position: absolute;
  background-color: var(--menu-background);
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .submenu {
  display: block;
}


/* Admin styles */

.active {
  background-color: var(--admin-menu-background);
}

/* styles.css */
html {
  scroll-behavior: smooth;
}

/* Add other global styles below */


